[Unit]
Description=nextmail-api HTTP backend service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
WorkingDirectory=/opt/nextmail/api
Environment=PORT=8003
Environment=APP_ENV=prod
Environment=GEOIP_DB_PATH=/opt/nextmail/api/data/GeoLite2-Country.mmdb
ExecStart=/opt/nextmail/api/nextmail-api
KillSignal=SIGTERM
TimeoutStopSec=15s
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
